@import url('https://https://fonts.goggleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #6ed7f7, #3a8ab8);
}

.container {
    width: 400px;
    height: 420px;
    background-color: rgb(33, 250, 62);
    padding-top: 20px;
    border-radius: 10px;
}

.sub-title{
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-wrapper {
    border: 1px solid #ccc;
    padding-top: 40px;
    padding-left: 98px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

button{
    background-color: blue;
    color: white;
    width: 70px;
    border-radius: 5px;
    border-color: blue;
}

.text-center{
    text-align: center;
    width: 400px;
    color: crimson;
    padding-bottom: 20px;
}